<template>
  <div>
    <a href="https://github.com/wuyouzhuguli" target="_blank">https://github.com/wuyouzhuguli</a>
  </div>
</template>
<script>
export default {
  name: 'GitHub',
  created () {
    console.log(this.$route)
  }
}
</script>
