<template>
  <div>
    <div v-text="about" class="about"></div>
    <hr>
    <router-link to="/about/github" class="about-link">GitHub</router-link>
    <router-link to="/about/blog" class="about-link">Blog</router-link>
    <router-view class="about-href"/>
  </div>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      about: '我是xxx'
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.about = '🐤 我是MrBird'
    })
  },
  beforeRouteUpdate (to, from, next) {
    alert('路由地址变更了，发生了子路由跳转')
    next()
  },
  beforeRouteLeave (to, from, next) {
    const answer = window.confirm(`确定要前往${to.meta.title}了么？不多了解了解MrBird么？`)
    if (answer) {
      next()
    } else {
      next(false)
    }
  }
}
</script>

<style>
  .about-href {
    margin-top: 1rem;
  }

  .about-href a {
    color: mediumseagreen;
    text-decoration: none;
  }
</style>
