<template>
  <div>axios</div>
</template>
<script>
import axios from 'axios'
import queryString from 'queryString'

let cancelToken = axios.CancelToken
let source = cancelToken.source()

let FEBS = axios.create({
  baseURL: 'https://easy-mock.com/mock/5c15198c7aeb86217625d891/example_copy',
  headers: {
    'Authentication_Token': 'token'
    // 加这个参数拼接成 username=mrbird&password=123456
    // 'content-type': 'application/x-www-form-urlencoded'
  },
  responseType: 'json',
  transformRequest: [function (data) {
    return queryString.stringify(data)
  }],
  transformResponse: [function (data) {
    return data
  }],
  validateStatus (status) {
    // 200 外的状态码都认定为失败
    return status === 200
  },
  cancelToken: source.token
})

FEBS.interceptors.request.use((config) => {
  console.log('请求前拦截')
  console.log(config)
  return config
}, (error) => {
  if (error.response) {
    console.log(error.response.data)
    console.log(error.response.status)
    console.log(error.response.headers)
  } else if (error.request) {
    console.log(error.request)
  } else {
    console.log('Error', error.message)
  }
  console.log(error.config)
  return Promise.reject(error)
})

FEBS.interceptors.response.use((config) => {
  console.log('请求后拦截')
  return config
}, (error) => {
  if (error.response) {
    console.log(error.response.data)
    console.log(error.response.status)
    console.log(error.response.headers)
  } else if (error.request) {
    console.log(error.request)
  } else {
    console.log('Error', error.message)
  }
  console.log(error.config)
  return Promise.reject(error)
})

export default {
  name: 'Axios',
  created () {
    //   axios.get('https://easy-mock.com/mock/5c15198c7aeb86217625d891/example_copy/restful/2/listaa').then((response) => {
    //     console.log(response)
    //   }).catch((error) => {
    //     if (error.response) {
    //       console.log(error.response.data)
    //       console.log(error.response.status)
    //       console.log(error.response.headers)
    //     } else if (error.request) {
    //       console.log(error.request)
    //     } else {
    //       console.log('Error', error.message)
    //     }
    //     console.log(error.config)
    //   })
    // FEBS.get('/restful/2/list').then((r) => {
    //   console.log(r)
    // })
    FEBS.post('/uploado', {
      username: 'mrbird',
      password: '123456'
    }).then((r) => {
      console.log(r)
    })

    // source.cancel('取消发送请求')
  }
}
</script>
