<template>
  <div>
    <div>
      <p>同步Vuex变更</p>
      <div class="sync">
        <span class="sync-minus minus" @click="syncMinus">-</span>
        <span>{{this.count}}</span>
        <span class="sync-plus plus" @click="syncPlus">+</span>
      </div>
    </div>
    <div class="async">
      <p>异步Vuex变更</p>
      <div>
        <span class="async-minus minus" @click="asyncMinus">-</span>
        <span>{{this.number}}</span>
        <span class="async-plus plus" @click="asyncPlus">+</span>
      </div>
    </div>
  </div>
</template>
<script>
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex'

export default {
  name: 'Count',
  computed: {
    ...mapState(['count']),
    ...mapGetters(['number'])
  },
  methods: {
    syncMinus () {
      // this.$store.commit('syncMinus', 1)
      this.syncminus(1)
    },
    syncPlus () {
      // this.$store.commit('syncPlus', 1)
      this.syncplus(1)
    },
    asyncMinus () {
      // this.$store.dispatch('asyncMinus', 1)
      this.asyncminus(1)
    },
    asyncPlus () {
      // this.$store.dispatch('asyncPlus', 1)
      this.asyncplus(1)
    },
    ...mapMutations({
      syncminus: 'syncMinus',
      syncplus: 'syncPlus'
    }),
    ...mapActions({
      asyncminus: 'asyncMinus',
      asyncplus: 'asyncPlus'
    })
  }
}
</script>
<style>
  .minus, .plus {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
  }

  .sync-minus, .sync-plus {
    background: #42b983;
  }

  .async-minus, .async-plus {
    background: #ff9252;
  }
</style>
