<template>
  <div>当前随机数：{{this.$route.params.number}}, {{this.$route.params.str}}, queryParams: {{this.$route.query.queryParam}}</div>
</template>
<script>
export default {
  name: 'Dynamic',
  watch: {
    $route () {
      // 当this.$route.params.number变化时，都会调用这个监听函数
      alert('watch number: ' + this.$route.params.number)
    }
  },
  created () {
    // 只有在页面第一次渲染的时候才执行
    alert('create number: ' + this.$route.params.number)
  }
}
</script>
