<template>
  <div>
    <div class="home">
      {{home}} <a @click="logout" class="logout">登出</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      home: '🏠 我是主页'
    }
  },
  created () {
    let user = this.$db.get('user')
    alert(`欢迎您${user.username}`)
  },
  methods: {
    logout () {
      this.$db.save('user', null)
      alert('再见~')
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
  .logout {
    color: orangered;
    cursor: pointer;
  }
</style>
