<template>
  <div>
    <div>请先登录</div>
    <form @submit.prevent="login">
      <div class="div">
        <div class="div-title">账号：</div>
        <input class="div-input" placeholder="username" value="admin" type="text" v-model="username"/>
      </div>
      <div class="div">
        <div class="div-title">密码：</div>
        <input placeholder="password" class="div-input" value="123456" type="password" v-model="password"/>
      </div>
      <button class="login-button" type="submit">登录</button>
    </form>
  </div>
</template>
<script>
export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      console.log(this)
      let username = this.username.trim()
      let password = this.password.trim()
      if (!username.length) {
        alert('请输入用户名')
        return
      }
      if (!password.length) {
        alert('请输入密码')
        return
      }
      if (username !== this.$username) {
        alert('用户名或密码错误')
        return
      }
      if (password !== this.$password) {
        alert('用户名或密码错误')
        return
      }
      this.$db.save('user', {
        username,
        isLogin: true
      })
      this.$router.push({name: 'Home'})
    }
  }
}
</script>
<style>
  .div {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
  }

  .div-title {
    display: inline-block;
    font-size: 1rem;
  }

  .div-input {
    border: 1px solid mediumseagreen;
    padding: .3rem;
    font-size: 1rem;
    display: inline-block;
  }

  .login-button {
    margin-top: 1rem;
    padding: .5rem 1rem;
  }
</style>
