<template>
  <div id="app">
    <div class="app-title">Learn Vuex Vue-Router</div>
    <div>
      <button @click="back" class="orange">后退</button>
      <button @click="forward" class="orange">前进</button>
    </div>
    <div>
      <button>
        <router-link to="/" exact>首页</router-link>
      </button>
      <button>
        <router-link to="/about">前往about页面</router-link>
      </button>
      <button>
        <router-link to="/document">前往文档页面</router-link>
      </button>
      <button>
        <router-link to="/404">测试404页面</router-link>
      </button>
      <button>
        <router-link to="/hash#title">测试hash跳转锚点</router-link>
      </button>
      <button>
        <router-link :to="'/dynamic/' + Math.floor(Math.random() * 10 + 1) +'/hello?queryParam=test'">动态路径</router-link>
      </button>
      <button>
        <router-link to="/count">同异步Vuex</router-link>
      </button>
      <button>
        <router-link to="/axios">Axios</router-link>
      </button>
    </div>
        <router-view class="sidebar" name="sidebar"></router-view>
    <transition mode="out-in">
        <router-view class="message"/>
    </transition>

  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    // toAbout () {
    //   this.$router.push({name: 'About'})
    // },
    // toDocument () {
    //   this.$router.push('/document')
    // }
    back () {
      this.$router.back()
    },
    forward () {
      this.$router.forward()
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .app-title {
    margin-bottom: 1.5rem;
    color: #42b983;
    font-size: 2rem;
  }

  button {
    background: #42b983;
    display: inline-block;
    color: #fff;
    padding: .6rem .5rem;
    border: 1px solid;
    cursor: pointer;
    margin: 0 .5rem;
  }

  button a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }

  button a.is-active {
    font-size: 1.2rem;
    color: lightgoldenrodyellow;
  }

  .message {
    padding: 2rem 0;
    font-size: 1.3rem;
  }

  .about-link {
    color: coral;
    font-weight: 600;
    text-decoration: none;
    margin: 0 .5rem;
  }

  .sidebar {
    position: absolute;
    left: 29.6%;
    border: 1px solid mediumseagreen;
    top: 26%;
    padding: 2rem 1rem;
  }
  .v-enter-to {
    opacity: 1;
  }
  .v-enter {
    opacity: 0;
  }
  .v-enter-active {
    transition: .5s;
  }

  .v-leave-to {
    opacity: 0;
  }
  .v-leave {
    opacity: 1;
  }
  .v-leave-active {
    transition: .5s;
  }
  .orange {
    background: #ff9252;
    padding: .6rem .8rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
  }
</style>
